.link {
    text-decoration: none;
}

.link button {
    text-transform: uppercase;
    padding: 17px 34px; 
    letter-spacing: 2px;
    border: 1px solid #33323d; 
    cursor: pointer; 
    transition: all .2s ease-in-out; 
}

.link button:hover, .link button:focus {
    background-color: #203a4c;
    color: white; 
}
